/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.clear {
  clear:both;
}

ul.hmenu {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}
ul.hmenu li {
  display: inline;
}
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

/* Wrap */
#container {
    margin: 40px auto;
    width: 670px;
}

/* Forms */
.form-section {
  margin:0 0 30px;
  overflow:hidden;
  border-radius: 5px;
  padding:30px;
}

.form-section:hover {
  background:#f9f9f9;
}

.form-section h2 {
  font-size:24px;
  margin:0 0 15px;
}

.form-left {
  float:left;
  width:280px;
}
.form-right {
  float:right;
  width:280px;
}

form input, form textarea {
    border: 4px solid #EEEEEE;
    border-radius: 5px;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 18px;
	font-weight:bold;
	color: #959D9A;
    padding: 2px 5px 3px;
	height:34px;
    width: 250px;
	margin:0 0 30px;
}
form textarea {
    height: 150px;
}
form label {
    color: #888;
	font-size:16px;
	margin:0 0 5px;
	float:none;
	display:inline-block;
}
input#user_user_name {
	padding-left:155px;
	width:72%;
}
input.full, textarea.full {
	width:95% !important;
}
form #username-hint {
    color: #999999;
    font-size: 18px;
    left: 15px;
    line-height: 15px;
    position: relative;
    top: -61px;
    width: 145px;
}